<?xml version="1.0" encoding="ISO-8859-1"?>
<Policy version="0.1" type="value" model="/home/fpetric/devel/code/git/python-pomdp/examples/functional_imitation.pomdpx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="policyx.xsd">
<AlphaVector vectorLength="7" numObsValue="1" numVectors="6">
<Vector action="2" obsValue="0">180 180 180 180 180 180 200 </Vector>
<Vector action="1" obsValue="0">169 169 169 185.5 185.5 195 180 </Vector>
<Vector action="1" obsValue="0">166.387 170.11 176.707 191.497 192.625 195 180 </Vector>
<Vector action="0" obsValue="0">181.461 181.461 186.922 178.5 178.5 188 180 </Vector>
<Vector action="0" obsValue="0">182.155 184.749 186.922 168.287 172.8 169 161 </Vector>
<Vector action="0" obsValue="0">183.717 184.749 186.922 156.555 154.75 150.95 142.95 </Vector>
</AlphaVector> </Policy>
